.titleName{
	text-align: center;
}


.card-title-left span{
	font-weight: 600;
	font-size: 20px; 
	margin-left: 30px;
}


.card-content{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
}

.card-content-small{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.card-content .card-content-name{
	font-weight: 600;
	color: #6d6d6d;
}

.card-content .txtstatus{
	color: #fff;
	font-size: 11px;
	background-color: green;
	padding: 3px;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
}

.card-content .txtSend{
	font-weight: 500;
	font-style: italic;
	cursor: pointer;
}

.txtstatusdis{
	color: #fff;
	font-size: 11px;
	padding: 3px;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
	background-color: red;
}

.txtinvalid{
	font-size: 14px;
	color: red;
	font-style: italic;
	display: none;
}

.card-content .txtcoin{
	font-size: 22px;
	font-weight: bold;
}

.card-send-coin{
	margin-bottom: 15px;
	display: none;
}

.card-view{
	margin-bottom: 15px;
	display: none;
}

.card-coin{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header {
	color: #fff;
	background-color: #333;
	height: 50px;
}

.block-content{
	color: #6d6d6d
}

.blockdata{
	height:36px; 
	display: flex; 
	align-items: center;
	border: solid 1px #c1c1c1;
	border-radius: 6px;
	background-color: #ececec;
	margin-bottom: 15px;
}

.blockdata-name{
	width: 80px; 
	text-align: center;
	font-size: 14px;
}

.blockdata-content{
	border-left: solid 1px #c1c1c1;
	height: 100%;
	background-color: #fff;
	width: 100%;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	line-height: 36px;
	font-size: 12px;
	padding-left: 10px;
}

.hash{
	color: #52c41a;
	margin-left: 10px;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.hashborder{
	border: solid 1px #36ce36;
	background-color: #f6ffed;

}

.block {
	display: flex;
}	
.block span{
	font-size: 13px;
}
.blockname{
	margin-top: 12px;
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 0;
}

.xuathien{
	display: block !important;
}

.changewallet{
	border: solid 1px #e0dbdb; 
	padding: 3px; 
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s;
}

.changewallet span {
	font-size: 13px;
	font-weight: 500;
	color: #6d6d6d;
	margin-left: 5px;
}

.changewallet:hover{
	background-color: #ececec;
}

.active{
	background-color: #a0a0a0;
}

.cardcreatewallet{
	display: none;
}

.cardchangewallet{
	display: none;
}

.andi{
	display: none;
}

.txtNoti{
	color: red;
	font-weight: 500;
}

.xuathientxtinvalid{
	display: block;
}